html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #F1F1E6;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  color: #202744;
  text-align: center;
  text-decoration: underline;
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  color: #202744;
}

.card {
  outline: solid #202744;
  border-color: #202744;
  border-radius: 5px;
  background-color: #bec2e8;
  box-shadow:  0 4px 8px 0 #202744;
  margin: 8px;
  justify-content: center;
}

.car-boy {
  text-align: center;
  height: 8rem;
}

.book-car-boy {
  text-align: center;
}

a.card-title {
  color: #202744;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #202744;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
  background-color: #202744;
  min-height: 6rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link {
  width: 8rem;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.navbar-link {
  background-color: #d1a617;
  color: #202744;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

a.btn-primary {
  background-color: #d1a617;
  color: #202744;
  outline: solid #202744;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-left: 10px;
}

a.btn-primary:hover {
  box-shadow: 0 8px 16px 0 #202744;
}

.pages {
  text-align: center;
  list-style: none;
}

.book-card {
  outline: solid #202744;
  border-color: #202744;
  border-radius: 5px;
  background-color: #bec2e8;
  box-shadow:  0 4px 8px 0 #202744;
  margin: 8px;
  justify-content: center;
}

form {
  width: 80%;
  margin: 0 auto;
}

label, input {
  display: inline-block;
  margin: 2px 0px 2px 2px;
}

label {
  text-align: right;
}

label+input {
  margin: 5px 0px 5px 5px;
}

input+input {
  float: right;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  color: #d1a617;
  list-style: none;
}

#submit {
  background-color: #d1a617;
  color: #202744;
  border-radius: 5px;
  border: solid #202744;
}

#submit:hover {
  box-shadow: 0 8px 16px 0 #202744;
}