<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script 
    src="https://kit.fontawesome.com/4da7a940f0.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>BookShelf</title>
</head>
<body>
  <ul class="nav">
    <li class="nav-link">
      <a class="navbar-link" href="{{url_for('core.index')}}">Book List</a>
    </li>
    {% if current_user.is_authenticated %}
    <li class="nav-link">
      <a class="navbar-link" href="{{url_for('books.add_book')}}">Add Book</a>
    </li>
    <li class="nav-link">
      <a class="navbar-link" href="{{url_for('users.logout')}}">Log Out</a>
    </li>
    <li class="nav-link">
      <a class="navbar-link" href="{{url_for('users.account')}}">Account</a>
    </li>
    <li class="icon">
      <a class="icon-link" href="{{url_for('core.info')}}"><i class="fas fa-book fa-2x"></i></a>
    </li>
    {% else %}
    <li class="nav-link">
      <a class="navbar-link" href="{{url_for('users.login')}}">Log In  </a>
    </li>
    <li class="nav-link">
      <a class="navbar-link" href="{{url_for('users.register')}}">Register</a>
    </li>
    <li class="icon">
      <a class="icon-link" href="{{url_for('core.info')}}"><i class="fas fa-book fa-2x"></i></a>
    {% endif %}
  </ul>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>