{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ book.title }}</h1>
  <h2>Author: {{ book.author }}
  <h2>Added by: {{book.owner.username}}</h2>
  <h3>Added on: {{ book.date.strftime('%B %d, %Y') }}</h3>
  <p>{{book.summary}}</p>
  {% if book.owner == current_user %}
    <div>
      <a class="btn btn-secondary" href="{{ url_for('books.update', book_id=book.id) }}">Update</a>
      <br>
      <form action="{{ url_for('books.delete_book', book_id=book.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    </div>
   {% endif %}
</div>
{% endblock content %}