{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="card">
      <div class="book-car-boy">
        <h1>{{ book.title }} By: {{book.author}}</h1>
        <h2>Summary</h2>
        <h3>{{book.summary}}</h3>
        <p>Added by: {{book.owner.username}}</p>
        <p>Added on: {{ book.date.strftime('%B %d, %Y') }}</p>
        {% if book.owner == current_user %}
          <div class="book-page">
            <a class="btn-primary" href="{{ url_for('books.update', book_id=book.id) }}">Update</a>
            <br>
            <a class="btn-primary" href="{{ url_for('books.delete_book', book_id=book.id) }}" method="POST">Delete</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}